*{
    padding: 0;
    margin: 0;
}


#game{
    width: 500px;
    height: 200px;
    border: 1px solid red;
}

#image{
    width: 20px;
    height: 0px;
    /* background-color: aquamarine; */
    position: relative;
    top: 100px;
    /* animation: jump 500ms; */
}

#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 180px;
    left: 480px;
    animation: block 2s linear infinite;
}

@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}

@keyframes jump{
    0%{top: 180px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
.animate{
    animation: jump 500ms;
}

